# CONFIGURACIÓN DE SEGURIDAD (DATAOPS)
DATA_ENCRYPTION_KEY=tu_llave_de_cifrado_aqui

# EVITAR LA GENERACIÓN DE __pycache__
PYTHONDONTWRITEBYTECODE=1

# CONEXIÓN A BASE DE DATOS (SUPABASE)
DB_HOST=tu_host_de_supabase_aqui
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=tu_contraseña_segura_aqui
DB_PORT=5432

# DESPLIEGUE (RENDER)
RENDER_API_KEY=tu_token_de_render_aqui